<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wl.amsflag22">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.leo.amsflag2.BActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- android:exported 允许外部调用  action：指定启动该Activity -->
        <activity
            android:name="com.leo.amsflag2.CActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="leo.xyz" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.leo.amsflag2.DActivity"
            android:allowTaskReparenting="true"
            android:exported="true">
            <intent-filter>
                <action android:name="leo.xyzD" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>